<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdong.dao.ReceiverMapper" >
  <resultMap id="BaseResultMap" type="com.dingdong.pojo.Receiver" >
    <id column="receiver_id" property="receiverId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    receiver_id, user_id, name, telephone, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_receiver
    where receiver_id = #{receiverId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_receiver
    where receiver_id = #{receiverId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dingdong.pojo.Receiver" >
    insert into t_receiver (receiver_id, user_id, name, 
      telephone, address)
    values (#{receiverId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=CHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dingdong.pojo.Receiver" >
    insert into t_receiver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="receiverId != null" >
        receiver_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="receiverId != null" >
        #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dingdong.pojo.Receiver" >
    update t_receiver
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where receiver_id = #{receiverId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dingdong.pojo.Receiver" >
    update t_receiver
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR}
    where receiver_id = #{receiverId,jdbcType=INTEGER}
  </update>
</mapper>